name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      # Run Cypress tests (action sẽ tự cài Cypress)
      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: ''
          wait-on: ''
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

      # Generate Allure report
      - name: Generate Allure report
        if: always()
        run: |
          mkdir -p allure-results
          npx allure generate allure-results --clean

      # Upload Allure report artifact
      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

